<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Register | Shipment Tracker</title>
    </h:head>
    <h:body>
        <f:metadata>
            <f:viewAction action="#{historyController.onload}" />
        </f:metadata>
        <!-- CSS Styles -->
        <h:outputStylesheet library="css" name="materialize.css" />
        <!-- //CSS Styles -->

        <!-- Header Navigation - Desktop and Mobile -->
        <nav>
            <div class="nav-wrapper">
                <a href="/home" class="brand-logo">ShipmentTracker</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="new.xhtml">New Package</a></li>
                    <li><a href="map.xhtml">Map</a></li>
                    <li><a href="history.xhtml">History</a></li>
                    <li>
                        <h:form>
                            <h:commandLink action="#{loginController.logout()}" value="Logout"></h:commandLink>
                        </h:form>
                    </li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="new.xhtml">New Package</a></li>
                    <li><a href="map.xhtml">Map</a></li>
                    <li><a href="history.xhtml">History</a></li>
                    <li>
                        <h:form>
                            <h:commandLink action="#{loginController.logout()}" value="Logout"></h:commandLink>
                        </h:form>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- // Header Nav -->

        <!-- Main Container -->
        <div class="container" style="margin-top: 70px">

            <div class="row">
                <h5>Packages History</h5>
                <div class="row">
                    <table class="striped">
                        <thead>
                            <tr>
                                <td>Item Name</td>
                                <td>Supplier</td>
                                <td>Purchased Date</td>
                                <td>ETA</td>
                                <td>Arrived</td>
                            </tr>
                        </thead>
                        <ui:repeat var="item" value="#{historyController.itemList}">
                            <tr>
                                <td> <h:outputText value="#{item.name}"></h:outputText> </td>
                                <td> <h:outputText value="#{item.supplier}"></h:outputText> </td>
                                <td><h:outputText value="#{item.purchasedDate}"></h:outputText></td>
                                <td><h:outputText value="#{item.deliveryDate}"></h:outputText></td>
                                <td><h:form>
                                        <div class="card-action">
                                            <c:if test="#{item.hasArrived == true}">
                                                <span style="cursor: no-drop; color: green;">arrived</span>
                                            </c:if>
                                        </div>
                                </h:form></td>
                            </tr>
                        </ui:repeat>
                    </table>
                </div>

            </div>
        </div>

        <!-- Page JS -->
        <h:outputScript library="js" name="jquery.js" />
        <h:outputScript library="js" name="materialize.min.js" />
        <!-- Page JS -->

    </h:body>
</html>

