<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Login | Shipment Tracker</title>
    </h:head>
    <h:body>
        <!-- CSS Styles -->
        <h:outputStylesheet library="css" name="materialize.css" />
        <!-- //CSS Styles -->

        <!-- Main Container -->
        <div class="container" style="margin-top: 70px">
            
            <div class="row">
                
                <!-- User Registration form -->
                <h:form styleClass="col s12 push-m3 m6" id="loginForm">
                    <h5>Login to Shipment Tracker</h5>
                    <!-- Error list -->
                    <h:messages styleClass="collection" />
                    <!-- //Error list -->
                    <div class="row" style="margin-top: 30px;">
                        <div class="input-field col s12">
                            <h:inputText value="#{loginController.email}" id="name" required="true" requiredMessage="Email is Required"></h:inputText>
                            <h:outputLabel for="name">Email</h:outputLabel>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <h:inputSecret value="#{loginController.password}" id="password" required="true" requiredMessage="Password is Required"></h:inputSecret>
                            <h:outputLabel for="password" >Password</h:outputLabel>

                        </div>
                    </div>
                    <h:commandButton class="btn waves-effect waves-light" value="Login" action="#{loginController.validate}">
                    </h:commandButton>
                    <h:link value="or Register" outcome="/register" style="margin-left: 20px;">
                    </h:link>
                </h:form>
                <!-- // User reg form -->
            </div>
        </div>

        <!-- Page JS -->
        <h:outputScript library="js" name="jquery.js" />
        <h:outputScript library="js" name="materialize.min.js" />
        <!-- Page JS -->

    </h:body>
</html>

