<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <h:head>
        <title>New Package | Shipment Tracker</title>
    </h:head>
    <h:body>
        <!-- CSS Styles -->
        <h:outputStylesheet library="css" name="materialize.css" />
        <!-- //CSS Styles -->

        <!-- Header Navigation - Desktop and Mobile -->
        <nav>
            <div class="nav-wrapper">
                <a href="/home" class="brand-logo">ShipmentTracker</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="new.xhtml">New Package</a></li>
                    <li><a href="map.xhtml">Map</a></li>
                    <li><a href="history.xhtml">History</a></li>
                    <li>
                        <h:form>
                            <h:commandLink action="#{loginController.logout()}" value="Logout"></h:commandLink>
                        </h:form>
                    </li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="new.xhtml">New Package</a></li>
                    <li><a href="map.xhtml">Map</a></li>
                    <li><a href="history.xhtml">History</a></li>
                    <li>
                        <h:form>
                            <h:commandLink action="#{loginController.logout()}" value="Logout"></h:commandLink>
                        </h:form>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- // Header Nav -->

        <!-- Main Container -->
        <div class="container" style="margin-top: 70px">
            
            <div class="row">
                <!-- User Registration form -->
                <h:form class="col s12 push-m3 m6" id="regform">
                    <h5>New Delivery, Yay!</h5>
                    <!-- Error list -->
                    <h:messages styleClass="collection" />
                    <!-- //Error list -->
                    <div class="row" style="margin-top: 50px;">
                        <div class="input-field col s6">
                            <h:inputText value="#{newProductController.name}" id="name" required="true" requiredMessage="Name is Required"></h:inputText>
                            <h:outputLabel for="name">Product Name</h:outputLabel>
                        </div>
                        <div class="input-field col s6">
                            <h:inputText value="#{newProductController.supplier}" id="supplier" required="true" requiredMessage="Supplier is Required"></h:inputText>
                            <h:outputLabel for="supplier" >Supplier</h:outputLabel>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <h:inputText value="#{newProductController.url}" id="url"></h:inputText>
                            <h:outputLabel for="url">URL</h:outputLabel>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="pdate">Purchase Date</label>
                            <input type="date" jsf:value="#{newProductController.pdate}" class="datepicker" id="pdate" jsf:required="true" jsf:requiredMessage="Purchase Date is Required"></input>
                        </div>
                        <div class="input-field col s6">
                            <label for="ddate">Delivery Purchase Date</label>
                            <input type="date" jsf:value="#{newProductController.ddate}" class="datepicker" id="ddate" jsf:required="true" jsf:requiredMessage="Delivery Date is Required"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" id="shippingFrom" class="autocomplete" jsf:value="#{newProductController.shippingFrom}" jsf:required="true" jsf:requiredMessage="Country is Required"></input>
                            <label for="shippingFrom">Shipping From</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <h:inputText  id="comments" value="#{newProductController.comments}"></h:inputText >
                            <label for="shippingFrom">Comments</label>
                        </div>
                    </div>
                    <h:commandButton class="btn waves-effect waves-light" value="Add" action="#{newProductController.submit}"></h:commandButton>
                </h:form>
                <!-- // User reg form -->
            </div>
        </div>

        <!-- Page JS -->
        <h:outputScript library="js" name="jquery.js" />
        <h:outputScript library="js" name="materialize.min.js" />
        <script type="text/javascript">
            $(function(){
               $('#pdate').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15 // Creates a dropdown of 15 years to control year
            });
            
            $('#ddate').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15 // Creates a dropdown of 15 years to control year
            });
            
            
            
            $('.autocomplete').autocomplete({
                data: {
                  "Afghanistan" : null,
                    "Albania" : null,
                    "Algeria" : null,
                    "American Samoa" : null,
                    "Andorra" : null,
                    "Angola" : null,
                    "Anguilla" : null,
                    "Antarctica" : null,
                    "Antigua And Barbuda" : null,
                    "Argentina" : null,
                    "Armenia" : null,
                    "Aruba" : null,
                    "Australia" : null,
                    "Austria" : null,
                    "Azerbaijan" : null,
                    "Bahamas" : null,
                    "Bahrain" : null,
                    "Bangladesh" : null,
                    "Barbados" : null,
                    "Belarus" : null,
                    "Belgium" : null,
                    "Belize" : null,
                    "Benin" : null,
                    "Bermuda" : null,
                    "Bhutan" : null,
                    "Bolivia" : null,
                    "Bosnia And Herzegovina" : null,
                    "Botswana" : null,
                    "Bouvet Island" : null,
                    "Brazil" : null,
                    "British Indian Ocean Territory" : null,
                    "Brunei Darussalam" : null,
                    "Bulgaria" : null,
                    "Burkina Faso" : null,
                    "Burundi" : null,
                    "Cambodia" : null,
                    "Cameroon" : null,
                    "Canada" : null,
                    "Cape Verde" : null,
                    "Cayman Islands" : null,
                    "Central African Republic" : null,
                    "Chad" : null,
                    "Chile" : null,
                    "China" : null,
                    "Christmas Island" : null,
                    "Cocos (keeling) Islands" : null,
                    "Colombia" : null,
                    "Comoros" : null,
                    "Congo" : null,
                    "Congo, The Democratic Republic Of The" : null,
                    "Cook Islands" : null,
                    "Costa Rica" : null,
                    "Cote D'ivoire" : null,
                    "Croatia" : null,
                    "Cuba" : null,
                    "Cyprus" : null,
                    "Czech Republic" : null,
                    "Denmark" : null,
                    "Djibouti" : null,
                    "Dominica" : null,
                    "Dominican Republic" : null,
                    "East Timor" : null,
                    "Ecuador" : null,
                    "Egypt" : null,
                    "El Salvador" : null,
                    "Equatorial Guinea" : null,
                    "Eritrea" : null,
                    "Estonia" : null,
                    "Ethiopia" : null,
                    "Faroe Islands" : null,
                    "Fiji" : null,
                    "Finland" : null,
                    "France" : null,
                    "French Guiana" : null,
                    "French Polynesia" : null,
                    "French Southern Territories" : null,
                    "Gabon" : null,
                    "Gambia" : null,
                    "Georgia" : null,
                    "Germany" : null,
                    "Ghana" : null,
                    "Gibraltar" : null,
                    "Greece" : null,
                    "Greenland" : null,
                    "Grenada" : null,
                    "Guadeloupe" : null,
                    "Guam" : null,
                    "Guatemala" : null,
                    "Guinea" : null,
                    "Guinea-bissau" : null,
                    "Guyana" : null,
                    "Haiti" : null,
                    "Heard Island And Mcdonald Islands" : null,
                    "Honduras" : null,
                    "Hong Kong" : null,
                    "Hungary" : null,
                    "Iceland" : null,
                    "India" : null,
                    "Indonesia" : null,
                    "Iran, Islamic Republic Of" : null,
                    "Iraq" : null,
                    "Ireland" : null,
                    "Israel" : null,
                    "Italy" : null,
                    "Jamaica" : null,
                    "Japan" : null,
                    "Jordan" : null,
                    "Kazakstan" : null,
                    "Kenya" : null,
                    "Kiribati" : null,
                    "Korea, Democratic People's Republic Of" : null,
                    "Korea, Republic Of" : null,
                    "Kosovo" : null,
                    "Kuwait" : null,
                    "Kyrgyzstan" : null,
                    "Lao People's Democratic Republic" : null,
                    "Latvia" : null,
                    "Lebanon" : null,
                    "Lesotho" : null,
                    "Liberia" : null,
                    "Libyan Arab Jamahiriya" : null,
                    "Liechtenstein" : null,
                    "Lithuania" : null,
                    "Luxembourg" : null,
                    "Macau" : null,
                    "Macedonia, The Former Yugoslav Republic Of" : null,
                    "Madagascar" : null,
                    "Malawi" : null,
                    "Malaysia" : null,
                    "Maldives" : null,
                    "Mali" : null,
                    "Malta" : null,
                    "Marshall Islands" : null,
                    "Martinique" : null,
                    "Mauritania" : null,
                    "Mauritius" : null,
                    "Mayotte" : null,
                    "Mexico" : null,
                    "Micronesia, Federated States Of" : null,
                    "Moldova, Republic Of" : null,
                    "Monaco" : null,
                    "Mongolia" : null,
                    "Montserrat" : null,
                    "Montenegro" : null,
                    "Morocco" : null,
                    "Mozambique" : null,
                    "Myanmar" : null,
                    "Namibia" : null,
                    "Nauru" : null,
                    "Nepal" : null,
                    "Netherlands" : null,
                    "Netherlands Antilles" : null,
                    "New Caledonia" : null,
                    "New Zealand" : null,
                    "Nicaragua" : null,
                    "Niger" : null,
                    "Nigeria" : null,
                    "Niue" : null,
                    "Norfolk Island" : null,
                    "Northern Mariana Islands" : null,
                    "Norway" : null,
                    "Oman" : null,
                    "Pakistan" : null,
                    "Palau" : null,
                    "Palestinian Territory, Occupied" : null,
                    "Panama" : null,
                    "Papua New Guinea" : null,
                    "Paraguay" : null,
                    "Peru" : null,
                    "Philippines" : null,
                    "Pitcairn" : null,
                    "Poland" : null,
                    "Portugal" : null,
                    "Puerto Rico" : null,
                    "Qatar" : null,
                    "Reunion" : null,
                    "Romania" : null,
                    "Russian Federation" : null,
                    "Rwanda" : null,
                    "Saint Helena" : null,
                    "Saint Kitts And Nevis" : null,
                    "Saint Lucia" : null,
                    "Saint Pierre And Miquelon" : null,
                    "Saint Vincent And The Grenadines" : null,
                    "Samoa" : null,
                    "San Marino" : null,
                    "Sao Tome And Principe" : null,
                    "Saudi Arabia" : null,
                    "Senegal" : null,
                    "Serbia" : null,
                    "Seychelles" : null,
                    "Sierra Leone" : null,
                    "Singapore" : null,
                    "Slovakia" : null,
                    "Slovenia" : null,
                    "Solomon Islands" : null,
                    "Somalia" : null,
                    "South Africa" : null,
                    "South Georgia And The South Sandwich Islands" : null,
                    "Spain" : null,
                    "Sri Lanka" : null,
                    "Sudan" : null,
                    "Suriname" : null,
                    "Svalbard And Jan Mayen" : null,
                    "Swaziland" : null,
                    "Sweden" : null,
                    "Switzerland" : null,
                    "Syrian Arab Republic" : null,
                    "Taiwan, Province Of China" : null,
                    "Tajikistan" : null,
                    "Tanzania, United Republic Of" : null,
                    "Thailand" : null,
                    "Togo" : null,
                    "Tokelau" : null,
                    "Tonga" : null,
                    "Trinidad And Tobago" : null,
                    "Tunisia" : null,
                    "Turkey" : null,
                    "Turkmenistan" : null,
                    "Turks And Caicos Islands" : null,
                    "Tuvalu" : null,
                    "Uganda" : null,
                    "Ukraine" : null,
                    "United Arab Emirates" : null,
                    "United Kingdom" : null,
                    "United States" : null,
                    "United States Minor Outlying Islands" : null,
                    "Uruguay" : null,
                    "Uzbekistan" : null,
                    "Vanuatu" : null,
                    "Venezuela" : null,
                    "Viet Nam" : null,
                    "Virgin Islands, British" : null,
                    "Wallis And Futuna" : null,
                    "Western Sahara" : null,
                    "Yemen" : null,
                    "Zambia" : null,
                    "Zimbabwe" : null
                }
              }); 
            });
        </script>
        <!-- Page JS -->

    </h:body>
</html>

