<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Register | Shipment Tracker</title>
    </h:head>
    <h:body>
        <!-- CSS Styles -->
        <h:outputStylesheet library="css" name="materialize.css" />
        <!-- //CSS Styles -->

        <!-- Main Container -->
        <div class="container" style="margin-top: 70px">
            
            <div class="row">

                <!-- User Registration form -->
                <h:form class="col s12 push-m3 m6" id="regform">
                    <h5>User Registration Form</h5>
                    <!-- Error list -->
                    <h:messages styleClass="collection" />
                    <!-- //Error list -->
                    <div class="row" style="margin-top: 50px;">
                        <div class="input-field col s12">
                            <h:inputText value="#{registerController.name}" id="name" required="true" requiredMessage="Name is Required"></h:inputText>
                            <h:outputLabel for="name">Name</h:outputLabel>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <h:inputText value="#{registerController.email}" id="email">
                                <f:validator validatorId="emailCheckValidator" />
                            </h:inputText>
                            <h:outputLabel for="email" >Email</h:outputLabel>

                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <h:inputSecret value="#{registerController.password}" id="password" required="true" requiredMessage="Name is Required"></h:inputSecret>
                            <h:outputLabel for="password">Password</h:outputLabel>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <h:inputText value="#{registerController.address}" id="address" styleClass="addressmap"></h:inputText>
                            <h:outputLabel for="address">Default Address</h:outputLabel>
                        </div>
                    </div>
                    <h:commandButton class="btn waves-effect waves-light" value="Submit" action="#{registerController.submit}">
                    </h:commandButton>
                </h:form>
                <!-- // User reg form -->
            
            </div>
        </div>

        <!-- Page JS -->
        <h:outputScript library="js" name="jquery.js" />
        <h:outputScript library="js" name="materialize.min.js" />
        <!-- Page JS -->

    </h:body>
</html>

